<div>
  <form method="POST" action="/create_playlist">
    <div class="mb-3">
      <label for="playlist_name" class="form-label">プレイリスト名</label>
      <input type="text" name="playlist_name" id="playlist_name" class="form-control" required>
      <input type="hidden" name="spotify_user_id" id="spotify_user_id" value="<%= @spotify_user_id %>">
    </div>

    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-primary">作成する</button>
    </div>
  </form>
</div>
