<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
  <link rel="icon" href="/img/TuneBox_icon.png" type="image/png">
  <title><%= @title || "管理者ページ" %></title>
    <style>
      li {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      body {
        padding-top: 80px; /* ←ヘッダーの高さ分だけ上に余白をつける */
      }
    </style>
</head>
<body>
   <header class="d-flex align-items-center justify-content-between" style="position: fixed; top: 0; left: 0; right: 0; z-index: 1100; background-color: white; padding: 10px 20px; box-shadow: 0 2px 5px rgba(0,0,0,0.1);">
    <!-- 左側：アイコン＋アプリ名 -->
    <div class="d-flex align-items-center">
      <a href="/" class="d-flex align-items-center text-decoration-none text-dark">
        <img src="/img/TuneBox_icon.png" alt="アプリアイコン" class="app-icon">
        <span class="h3 mb-0">TuneBox 管理者ページ</span>
      </a>
    </div>

    <!--<div class="auth-buttons">-->
    <!--  <% if session[:user_id] %>-->
    <!--    <a href="/admin" class="header-button">マイページ</a>-->
    <!--  <% else %>-->
    <!--    <a href="/login_form" class="header-button">ログイン</a>-->
    <!--    <a href="/signup_form" class="header-button">新規登録</a>-->
    <!--  <% end %>-->
    <!--</div>-->
  </header>
  <%= yield %>
</body>
</html> 