<h5>共有</h5>

<!-- QRコードを表示 -->
<img src="data:image/png;base64,<%= @qr_base64 %>" alt="QRコード" class="mb-3">

<!-- リンクコピー -->
<div class="mt-2">
  <input type="hidden" value="https://tunebox.onrender.com/form/<%= @form_key %>" id="shareLink" readonly class="form-control">
  <button class="btn btn-primary btn-sm mt-2 copy-link" data-link="https://tunebox.onrender.com/form/<%= @form_key %>">リンクをコピー</button>
</div>