<div>
  <div>
    <label for="grade">学年:</label>
    <input type="text" id="grade" name="grade" required>
  </div>
  <div>
    <label for="class_name">クラス:</label>
    <input type="text" id="class_name" name="class_name" required>
  </div>
  <div>
    <label for="number">番号:</label>
    <input type="text" id="number" name="number" required>
  </div>
  <div>
    <label for="user_name">名前:</label>
    <input type="text" id="user_name" name="user_name" required>
  </div>
</div>