<div>
  <div>
    <label for="name">名前:</label>
    <input type="text" id="user_name" name="user_name">
  </div>
  <div>
    <label for="grade">学年:</label>
    <input>
  </div>
  <div>
    <label for="number">番号:</label>
    <input>
  </div>
</div>