<div class="mb-3 row gx-2">
  <div class="col-6">
    <label for="grade" class="form-label">学年:</label>
    <input type="text" id="grade" name="grade" class="form-control" required>
  </div>
  <div class="col-6">
    <label for="class_name" class="form-label">クラス:</label>
    <input type="text" id="class_name" name="class_name" class="form-control" required>
  </div>
</div>

<div class="mb-3">
  <label for="number" class="form-label">番号:</label>
  <input type="text" id="number" name="number" class="form-control" required>
</div>

<div class="mb-3">
  <label for="user_name" class="form-label">名前:</label>
  <input type="text" id="user_name" name="user_name" class="form-control" required>
</div>
