<input type="hidden" name="playlist_id" value="<%= @form.playlist_id %>">
<% if @success_message %>
  <div class="alert alert-success">
    <%= @success_message %>
  </div>
<% end %>

<p>検索キーワードを入力してください。</p>
